SECRET_KEY=a4243b69bf17330352f8bd282add1c07
POSTGRES_DB=todolist
POSTGRES_USER=mari
POSTGRES_PASSWORD=123
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

SECRET_KEY="django-insecure-vpvsd0"
DEBUG=True

SOCIAL_AUTH_VK_OAUTH2_KEY=51516824
SOCIAL_AUTH_VK_OAUTH2_SECRET=YskWbmQmvFBL3mm0yziR

BOT_TOKEN=5951036474:AAFHfKo88VTeNAPo_0fE1PEMSstjgZnTAmQ
